@import "./variables";

@mixin media($breakpoint) {
  @if ($breakpoint == tablet) {
    @media (min-width: 48rem) {
      @content;
    }
  }
  @if ($breakpoint == desktop) {
    @media (min-width: 75rem) {
      @content;
    }
  }
}

@mixin flex-container(
  $direction: row,
  $align: flex-start,
  $justify: flex-start,
  $wrap: no-wrap
) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
}

@mixin icon-setup($w, $h) {
  width: $w;
  height: $h;
  filter: invert(11%) sepia(99%) saturate(7159%) hue-rotate(271deg)
    brightness(116%) contrast(127%);
}
