@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.layout {
  @include flex-container($direction: column, $align: center);
  padding: 4rem 2rem 2rem 2rem;

  @include media(desktop) {
    @include flex-container($direction: row, $align: center);
    gap: 2rem;
    height: auto;
  }
}
